@import "tailwind.scss";

html {
  scroll-behavior: smooth;
}

.defaultFont {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Saira", sans-serif;
  transition: 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
